@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton');

body {
    background-color: #282a36;
    margin: 0px;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#clock {
    font-family: sans-serif;
    font-size: 4.0rem;
    font-weight: 600;
    font-family: "Anton";
    color: #fff;
    margin-bottom: .25em;
}

#search {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    display: none;
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-field {
    width: 90%;
    padding: .75em 1em;
    box-sizing: border-box;
    background-color: #000000;
    border: solid 0px #000000;
    font-family: "Roboto Mono";
    font-size: 4rem;
    color: #f2f2f2;
    outline: none;
    border-radius: 3px;
    margin-bottom: 1em;
    text-align: center;
}

.weather-container {
    width: 50%;
    background-color: #000000;
    padding: 1em;
    border-radius: 3px;
    font-family: "Roboto Mono";
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
}
.inline {
    display: inline-block;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    width: 90%;
    margin: 1em 0em;
}

@media only screen and (max-width: 960px) {
    .container {
        height: auto;
    }
    #clock {
        margin-top: 1em;
    }
    .container > .bookmark-container {
        flex-direction: column;
        width: 80%;
    }
    .bookmark-container > .reading-set {
        width: auto;
        margin: 1em 0em;
    }
    .bookmark-container > .bookmark-set {
        width: 95%;
        margin: 1em 0em;
    }
}

.reading-set{
    padding: 1em;
    background-color: #202020;
    border-radius: 3px;
    font-family: "Roboto Mono";
    font-size: .85rem;
    width: 18%;
    height: auto;
    margin: .2em .2em;
}
.bookmark-set{
    padding: 1em;
    background-color: #000000;
    border-radius: 3px;
    font-family: "Roboto Mono";
    font-size: .85rem;
    width: 18%;
    height: auto;
    margin: .2em .2em;
}
.bookmark-top-container {
    overflow-y: scroll;
    height: 10em;
    word-wrap: break-word;
    vertical-align: top;
    scrollbar-color: gray #202020;

}
.bookmark-inner-container {
    overflow-y: scroll;
    height: 20em;
    word-wrap: break-word;
    vertical-align: top;
    scrollbar-color: gray black;
}
.bookmark-title {
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 600;
    color: #ededed;
    margin: 0em 0em .35em 0em;
}
.bookmark {
    text-decoration: none;
    color: #8c8c8b;
    display:block;
    margin: .4em 0em;
}
.bookmark:hover {
    color: #fff;
}

.checkwx-container {
    padding: 1px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0;
}

.checkwx-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}

.checkwx-link {
    color: orange;
    font-size: 15px;
    font-weight: bold;
}
