        </div>
    </div>

    <script src="https://api.checkwx.com/widget?key=YOUR_API_KEY" type="text/javascript"></script>
    <script>
        // Search on enter key event
        document.getElementById("search-field").addEventListener("keydown",  event => { 
            if (event.keyCode === 13) {
                var val = document.getElementById("search-field").value;
                window.open("https://google.com/search?q=" + val);
            }
        });
        // Get current time and format
        getTime = () => {
            let date = new Date(),
                min = date.getMinutes(),
                hour = date.getHours();

            return "" + 
                (hour < 10 ? ("0" + hour) : hour) + ":" + 
                (min < 10 ? ("0" + min) : min);
        }

        window.onload = () => {
            let xhr = new XMLHttpRequest();
            // Request to open weather map
            xhr.open('GET',
		    'http://api.openweathermap.org/data/2.5/weather?lat=50.0&lon=5.0&units=metric&appid=YOUR_APP_ID');
            xhr.onload = () => {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        let json = JSON.parse(xhr.responseText);
                        console.log(json);
                        document.getElementById("temp").innerHTML = json.main.temp.toFixed(0) + "°C";
                        document.getElementById("weather-description").innerHTML = json.weather[0].description;
                    } else {
                        console.log('error msg: ' + xhr.status);
                    }
                }
            }
            xhr.send();
            // Set up the clock
            document.getElementById("clock").innerHTML = getTime();
            // Set clock interval to tick clock
            setInterval( () => {
                document.getElementById("clock").innerHTML = getTime();
            },10000);
        }

        document.addEventListener("keydown", event => {
            if (event.keyCode == 32) {          // Spacebar code to open search
                document.getElementById('search').style.display = 'flex';
                document.getElementById('search-field').focus();
            } else if (event.keyCode == 27) {   // Esc to close search
                document.getElementById('search-field').value = '';
                document.getElementById('search-field').blur();
                document.getElementById('search').style.display = 'none';
            }
        });
    </script>
</body>
</html>
